.textarea, .input{
    all : unset ;
    /* width : 100% ; */
    padding : 0.45rem 0.75rem ;
    background-color: rgb(30 41 59);
    text-align: left ;
    color : rgb(235, 232, 232) ;
    border-radius: 4px;
    outline:none ;

}

.text-area:focus, .input:focus{
    outline:rgb(225, 225, 225) solid ;
    outline-width: 2px;

}

input[type="number"]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* textarea{
    all : unset ;
    width:100% ;
} */